<nav class="brown darken-4">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">People</a>
    <a
      href="#"
      data-activates="mobile"
      class="button-collapse"
    >
      <i class="material-icons">People</i>
    </a>
    <p class = right>
      <%= link_to 'Home', root_path %>
      <%= link_to 'People', pages_path %>
    </p>
  </div>
</nav>
